scripts/n8n-email-workflow.json
{
  "name": "Order Email Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "order-notification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.headers['x-api-key'] }}",
              "rightValue": "4ea73ff3370525701b10f43b051fb2f545f1847f16744f05afbae8af68dff726",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Validate API Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 480]
    },
    {
      "parameters": {
        "fromEmail": "Ecu Gaming Import <ventas@ecugamingimport.top>",
        "toEmail": "={{ $json.body.customerEmail }}",
        "subject": "=Orden #{{ $json.body.orderId }} generada — Ecu Gaming Import",
        "emailFormat": "html",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <meta name=\"format-detection\" content=\"telephone=no, date=no, address=no, email=no\">\n  <meta name=\"x-apple-disable-message-reformatting\">\n  <meta name=\"color-scheme\" content=\"dark\">\n  <meta name=\"supported-color-schemes\" content=\"dark\">\n  <title>Orden #{{ $json.body.orderId }} — Ecu Gaming Import</title>\n  <!--[if mso]>\n  <noscript><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml></noscript>\n  <![endif]-->\n  <style>\n    :root { color-scheme: dark; supported-color-schemes: dark; }\n    * { box-sizing: border-box; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }\n    body { margin: 0 !important; padding: 0 !important; background-color: #0a0a12 !important; }\n    img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }\n    table { border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n    a { color: #a78bfa; text-decoration: none; }\n    @media only screen and (max-width: 620px) {\n      .email-container { width: 100% !important; }\n      .fluid { max-width: 100% !important; height: auto !important; }\n      .stack-column, .stack-column-center { display: block !important; width: 100% !important; }\n      .center-on-narrow { text-align: center !important; }\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background-color:#0a0a12;word-spacing:normal;\">\n\n<div role=\"article\" aria-roledescription=\"email\" aria-label=\"Orden Ecu Gaming Import\" lang=\"es\" style=\"background-color:#0a0a12;\">\n\n  <!-- Preheader oculto -->\n  <div style=\"display:none;max-height:0;overflow:hidden;font-size:1px;line-height:1px;color:#0a0a12;\">Tu orden #{{ $json.body.orderId }} fue generada. Realiza el pago para que procesemos tu envío.&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌</div>\n\n  <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#0a0a12;\">\n    <tr>\n      <td style=\"padding:24px 16px;\">\n\n        <!-- Email body container -->\n        <table class=\"email-container\" role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" align=\"center\"\n          style=\"margin:auto;max-width:580px;width:100%;border-radius:16px;overflow:hidden;border:1px solid #1e1e30;background-color:#12121f;\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background:linear-gradient(135deg,#4f46e5 0%,#7c3aed 50%,#9333ea 100%);padding:36px 40px;text-align:center;\">\n              <!-- Logo text -->\n              <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                <tr>\n                  <td style=\"text-align:center;\">\n                    <p style=\"margin:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:22px;font-weight:800;color:#ffffff;letter-spacing:-0.5px;\">&#127918; Ecu Gaming Import</p>\n                    <p style=\"margin:8px 0 0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:rgba(255,255,255,0.80);letter-spacing:0.3px;\">CONFIRMACI&#211;N DE ORDEN</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- STATUS BADGE -->\n          <tr>\n            <td style=\"background:#1a1a2e;padding:0;\">\n              <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                <tr>\n                  <td style=\"padding:20px 40px;border-bottom:1px solid #1e1e30;\">\n                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n                      <tr>\n                        <td style=\"background:#2a1f00;border:1px solid #f59e0b;border-radius:8px;padding:10px 18px;\">\n                          <p style=\"margin:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;font-weight:700;color:#f59e0b;text-transform:uppercase;letter-spacing:0.5px;\">&#128993; Pendiente de Pago</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"background:#12121f;padding:36px 40px;\">\n\n              <!-- Greeting -->\n              <p style=\"margin:0 0 20px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:15px;color:#c4c4d4;line-height:1.6;\">Hola <strong style=\"color:#ffffff;\">{{ $json.body.customerName }}</strong>,</p>\n              <p style=\"margin:0 0 28px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:15px;color:#c4c4d4;line-height:1.7;\">Recibimos tu solicitud para <strong style=\"color:#ffffff;\">{{ $json.body.productName }}</strong>. Tu orden fue generada exitosamente y est&#225; esperando confirmaci&#243;n de pago.</p>\n\n              <!-- Order details card -->\n              <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"margin-bottom:24px;\">\n                <tr>\n                  <td style=\"background:#0e0e1a;border:1px solid #2a2a3e;border-radius:12px;padding:24px;\">\n                    <p style=\"margin:0 0 16px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;color:#6b6b80;text-transform:uppercase;letter-spacing:1px;\">Resumen de la Orden</p>\n                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                      <tr>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#6b6b80;padding:6px 0;border-bottom:1px solid #1e1e30;\">N&#250;mero de Orden</td>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;font-weight:700;color:#ffffff;text-align:right;padding:6px 0;border-bottom:1px solid #1e1e30;\">#{{ $json.body.orderId }}</td>\n                      </tr>\n                      <tr>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#6b6b80;padding:6px 0;border-bottom:1px solid #1e1e30;\">Producto</td>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#e2e2ee;text-align:right;padding:6px 0;border-bottom:1px solid #1e1e30;\">{{ $json.body.productName }}</td>\n                      </tr>\n                      <tr>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#6b6b80;padding:6px 0;border-bottom:1px solid #1e1e30;\">M&#233;todo de Pago</td>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#e2e2ee;text-align:right;padding:6px 0;border-bottom:1px solid #1e1e30;\">{{ $json.body.paymentMethod }}</td>\n                      </tr>\n                      <tr>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#6b6b80;padding:6px 0;border-bottom:1px solid #1e1e30;\">Env&#237;o por</td>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#e2e2ee;text-align:right;padding:6px 0;border-bottom:1px solid #1e1e30;\">{{ $json.body.carrier }}</td>\n                      </tr>\n                      <tr>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;color:#a78bfa;padding:12px 0 0;\">Total a Pagar</td>\n                        <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:20px;font-weight:800;color:#a78bfa;text-align:right;padding:12px 0 0;\">${{ $json.body.total }}</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Next steps -->\n              <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"background:#0d1f0d;border:1px solid #166534;border-radius:12px;padding:20px 24px;\">\n                    <p style=\"margin:0 0 10px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;color:#4ade80;text-transform:uppercase;letter-spacing:1px;\">&#9989; Pasos para confirmar</p>\n                    <p style=\"margin:0 0 6px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#86efac;line-height:1.6;\">1&#8197; Realiza el dep&#243;sito o transferencia por el total indicado.</p>\n                    <p style=\"margin:0 0 6px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#86efac;line-height:1.6;\">2&#8197; Toma foto o captura del comprobante.</p>\n                    <p style=\"margin:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:#86efac;line-height:1.6;\">3&#8197; Env&#237;alo por WhatsApp para procesar en &lt;24 h.</p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- CTA Button -->\n              <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" align=\"center\" style=\"margin:0 auto 28px;\">\n                <tr>\n                  <td style=\"border-radius:50px;background:linear-gradient(90deg,#4f46e5,#7c3aed);\">\n                    <a href=\"https://wa.me/593962609951?text=Comprobante%20de%20pago%20-%20Orden%20%23{{ $json.body.orderId }}\"\n                      style=\"display:inline-block;padding:14px 36px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:14px;font-weight:700;color:#ffffff;text-decoration:none;border-radius:50px;\">&#128241; Enviar Comprobante por WhatsApp</a>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Security notice -->\n              <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                <tr>\n                  <td style=\"border-top:1px solid #1e1e30;padding-top:20px;text-align:center;\">\n                    <p style=\"margin:0 0 8px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:11px;color:#44445a;\">&#128274; Comunicaci&#243;n segura y cifrada</p>\n                    <p style=\"margin:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:11px;color:#44445a;line-height:1.6;\">\n                      <a href=\"https://ecugamingimport.top/terminos\" style=\"color:#6b6b80;\">T&#233;rminos</a>\n                      &nbsp;&#183;&nbsp;\n                      <a href=\"https://ecugamingimport.top/devoluciones\" style=\"color:#6b6b80;\">Devoluciones</a>\n                      &nbsp;&#183;&nbsp;\n                      <a href=\"https://ecugamingimport.top\" style=\"color:#6b6b80;\">Tienda</a>\n                    </p>\n                  </td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background:#0a0a12;padding:18px 40px;text-align:center;border-top:1px solid #1e1e30;\">\n              <p style=\"margin:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:11px;color:#33333f;\">&#169; 2025 Ecu Gaming Import &#183; Ecuador &#183; Este es un correo autom&#225;tico, no responder</p>\n            </td>\n          </tr>\n\n        </table>\n        <!-- End email body -->\n\n      </td>\n    </tr>\n  </table>\n\n</div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "headers": {
            "entries": [
              {
                "name": "X-Mailer",
                "value": "Mailer/2.0"
              },
              {
                "name": "X-Entity-Ref-ID",
                "value": "={{ $json.body.orderId }}"
              },
              {
                "name": "Precedence",
                "value": "bulk"
              },
              {
                "name": "Auto-Submitted",
                "value": "auto-generated"
              },
              {
                "name": "List-Unsubscribe",
                "value": "<mailto:ventas@ecugamingimport.top?subject=unsubscribe>"
              },
              {
                "name": "List-Unsubscribe-Post",
                "value": "List-Unsubscribe=One-Click"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Send Order Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-proton",
          "name": "Proton Mail SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Validate API Key", "type": "main", "index": 0 }]
      ]
    },
    "Validate API Key": {
      "main": [
        [{ "node": "Send Order Email", "type": "main", "index": 0 }],
        [{ "node": "Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Send Order Email": {
      "main": [
        [{ "node": "Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
